# Introduction to Python Programming Language
---

Presented By :
* Ananya das | [ananyaa0](https://github.com/ananyaa0)
* Anushka Srivastava | [anushka-2002](https://github.com/anushka-2002)
* Aditya Mishra | [cliff-4](https://github.com/cliff-4)

## Organised By :
### [Kharagpur Open Source Society](https://kossiitkgp.github.io)

# What are we going to learn today ?


- How to program in Python language?
- What is the Python language and why is there a buzz about it?


Topics covered in this session:
    - Types
    - Variables
    - Strings
    - Boolean
    - Conditionals
    - List and Tuples
    - Loops
    - Functions
    - Dicts
    
By the end of the session, We would like everyone to be comfortable with these concepts.

# How to Write and Run Python Code

There are two ways to run Python code:
    1. interactive mode
    2. script mode

## Interactive Mode

In interactive mode, you type Python code and the interpreter displays the result.
This is the Python REPL (Read-Eval-Print Loop).

In [ ]:
print('Hello, World! This is my first line of Python')

## Script Mode

In script mode, you store the code in a file that ends with ".py".

Copy the above line of code in a file called **hello_world.py**.
To execute the code in the file, you would type **$ python first_program.py** in a command window.

You should save your code as a script if you are writing anything more than a few lines.

## Types

Variables
---------

In computer programming, a variable is a storage location and an associated symbolic name (an _identifier_) which contains some known or unknown quantity or information, a value.

#### C
```c
int x = 29;
float y = 321.321;
double z = 32132132132133.21;
```

#### Python
```python
x = 343  # Integer
y = 43.24  # Float
```
Variable names in Python can contain alphanumerical characters a-z, A-Z, 0-9 and some special characters such as `_`. Normal variable names should start with a letter. `_` can be used for special cases.
By convension, variable names start with a lower-case letter, and Class names start with an upper-case letter.
In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

```
and, as, assert, break, class, continue, def, del, elif, else, except, 
exec, finally, for, from, global, if, import, in, is, lambda, not, or,
pass, print, raise, return, try, while, with, yield
```

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

Assignment
----------

The assignment operator in Python is `=`. Python is a **dynamically typed** language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [ ]:
''' 
variable assignments
this is a variable assignment
'''
x = 1.0
my_variable = 12
name="Ram"

In [ ]:
print(type(x))
print(type(my_variable))
print(type(name))

<class 'float'>
<class 'int'>
<class 'str'>

If we assign a new value to a variable, its type can change.

In [ ]:
x = 1
type(x)

int

We get a `NameError` when we try to access a variable which has not been defined.

In [ ]:
t = x + y

NameError: ignored

## Multiple assignments

In [ ]:
a, b, c = 5, 3.2, "Hello"

In [ ]:
print(a,b,c)

5 3.2 Hello

### Assign the same value to multiple variables at once

In [ ]:
x = y = z = "same"

Fundamental data types
----------------------

In [ ]:
# integers
x = 1
type(x)

In [ ]:
# float
x = 1.0
type(x)

In [ ]:
# boolean
b1 = True
b2 = False

type(b1)

### More on Booleans later!

## Complex Numbers in Python !!

In [ ]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

In [ ]:
print(x)

In [ ]:
# Real part
print(x.real)

In [ ]:
# Imaginary 
print(x.imag)

## Typecasting

When you want to change variables from one type to another.
We are using inbuilt _functions_ to do the typecasting.
Later we'll show you how to write your own functions.

In [ ]:
a = 1
print(a)

In [ ]:
float(a)

In [ ]:
z = 2 + 3j
z

In [ ]:
float(z.imag)

In [ ]:
complex(a)

In [ ]:
int(45.55)

## Python List

List is an ordered sequence of items.

In [ ]:
a = [1, 2.2, 'python']

## Python Tuple

Tuple is an ordered sequence of items same as list.
The only difference is that tuples are immutable.

In [ ]:
t = (5,'program', 1+3j)

# Mutability in Python

```A class is immutable if each object of that class has a fixed value upon instantiation that cannot SUBSEQUENTLY be changed```

***In another words change the entire value of that variable name or leave it alone.***

Example:

In [ ]:
my_string = "Hello world"
my_string[0] = "h"
print(my_string)

The interpreter is saying : i can't change the first character of this string

You will have to change the whole `string` in order to make it works:

In [ ]:
my_string = "Hello World"
my_string = "hello world"
print(my_string) #hello world

Here is a complete list of Mutable and Immutable Data Types

![img](./img/mutable_and_immutable.png "img")

## Question
While writing a new backend code in python Alex is stuck on how to take an address string and prefix it with an order id and suffix it with the name of person to whom it is delivered. Help Alex with his task.  
**Address** -> Kharagpur, West Bengal 721302  
**Name** -> Partha Pratim Chakraborty  
**Order-id** -> LifeOutSideCollege

In [ ]:
# Your code here

## Question 

As you helped Nitin add prefix and suffix to the addresss string, now nitin has passed down this code to Apoorva. Now Apoorva being a shitty coder doesn't know some basic function of python. He is given a **list** such as it contains :  
**[serial no,order-id,address,name]**.

But due to some bug in the system the serial number is in string rather than being an integer. So manipulate the list such as it contains serial number in integer and it comes in last as **[order-id,address,name,serial no]**. Help Apoorva save his ass.

In [ ]:
oldlist=["1","LifeOutSideCollege","Kharagpur, West Bengal 721302","Partha Pratim Chakraborty"]

# newlist =