## Dictionary
Dictionaries consist of pairs (called items) of keys and their corresponding values. Python dictionaries are also known as associative arrays or hash tables.

In comparison to a list, a list can be called a dict, with keys 0,1,2,3..

Key value pairs.

In [15]:
d = {}    # Defining an empty dict in python
print(d)

{}

In [16]:
print(type(d))

<class 'dict'>

The type function shows the type of the object.

### Constructing a dict

In [17]:
d = {
    'Name': "Alice",
     'Age': 21
  } 
print(d)

{'Name': 'Alice', 'Age': 21}

### Reading a dict

In [18]:
print(d['Name'])         # Accessing a value of a dict

Alice

### Modifying a dict

In [19]:
d['Age'] = 69
print(d)

{'Name': 'Alice', 'Age': 69}

### Adding elements in a dict

In [20]:
d['Gender'] = 'Female'
print(d)

{'Name': 'Alice', 'Age': 69, 'Gender': 'Female'}

### Removing elements from a dict

In [21]:
print(d)

{'Name': 'Alice', 'Age': 69, 'Gender': 'Female'}

In [22]:
del d['Age']
print(d)

{'Name': 'Alice', 'Gender': 'Female'}

### Properties of Keys and Values

Dictionary values have no restrictions. They can be any arbitrary Python object, either standard objects or user-defined objects. However, same is not true for the keys. 

Keys must be :

+ Unique in the dictionary (i.e. repitition of keys is not allowed)
+ Of immutable type  (i.e. Lists, for e.g. can't be used as a dict key)

In short, They must be **hashable**

In [ ]:
d = {1: 'a', 2: 'b', 2: 'c'}         ## Note that keys are not unique
print(d)

In [ ]:
d = {1: 'a', 2: 'b', 3: 'b'}         ## Note that values are not unique
print(d)

In [25]:
d = {1: 'a', 'name': 'abc', 1.5: 2.5, 4: [1,2,3], 5: {'1':1, '2':2}}   
print(d)

{1: 'a', 'name': 'abc', 1.5: 2.5, 4: [1, 2, 3], 5: {'1': 1, '2': 2}}

In [ ]:
d = {1: 'a', 'name': 'abc', [4]: [1,2,3], 5: {'1':1, '2':2}}   
print(d)

### Functions on Keys and Values

#### dict.keys()

In [27]:
d = {'Name': "Alice", 'Age': 21, 'Gender': 'Female'} 

## To get the keys from the dictionary

keys = list(d.keys())
print(keys)

['Name', 'Age', 'Gender']

In [28]:
print(type(keys))

<class 'list'>

#### dict.values()

In [29]:
## To get the values from the dictionary

values = d.values()
print(values)

dict_values(['Alice', 21, 'Female'])

In [30]:
print(type(values))

<class 'dict_values'>

#### dict.items()

In [31]:
## To get all the key:value pairs from the dictionary as tuples in a list

kv = list(d.items())
print(kv)

[('Name', 'Alice'), ('Age', 21), ('Gender', 'Female')]

In [32]:
print(type(kv))

<class 'list'>

In [33]:
print(type(kv[0]))

<class 'tuple'>

In [34]:
a = {'useless_key': 1, 'who_cares_about_this_key': 2, 'blah_blah': 3, "this_key_will_never_go_to_iit": 4}

In [39]:
for _, values in a.items():
    print(values)

1
2
3
4

In [40]:
a = { True: 1, False: 0 }  # I read/write binary

In [41]:
a[10 > 50]

0

#### dict comprehension

In [42]:
keys = [1, 2, 3, 4]
values = ["a", "b", "c", "d"]
d = {keys[i]:values[i] for i in range(4)}
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

### Exercise

Write a code to get an output as:

abAB <br>
cdCD <br>
efEF <br>
ghGH <br>

from the dict `d = {'ab': 'AB', 'cd': 'CD', 'ef': 'EF', 'gh': 'GH'}`

In [ ]:
d = {'ab': 'AB', 'cd': 'CD', 'ef': 'EF', 'gh': 'GH'}
# Write code here #

### Exercise

Write a code to combine two dictionaries. We have the prices of products A,B,C,D,E in two different dicts. Add the elements of first dict to the second.

In [ ]:
d1 = {'A': 50, 'B': 100, 'C': 40}
d2 = {'D': 30, 'E': 75}
# Write code here #
print(d2)               # This should print all the elements of both the dicts.


#### dict.update()
Update a dictionary with more elements

In [43]:
d = {'Name': "Alice", 'Age': 21, 'Gender': 'Female'} 
d.update({'Hobby': 'Sleep', 'Address': 'KGP'})
print(d)

{'Name': 'Alice', 'Age': 21, 'Gender': 'Female', 'Hobby': 'Sleep', 'Address': 'KGP'}

### Exercise

We have dict of prices of certain items. Write a code to print the price when an item is provided. If an item is not provided, print its price as 0.

In [45]:
price = {'A': 30, 'B': 50, 'C': 90}
#print('A' in price)
# Write code here to print the price of A#
##
# Write code here to print the price of E#
##

True

__dict.get()__ <br>
Fetch an item from a dict

In [ ]:
price = {'A': 30, 'B': 50, 'C': 90}
print(price.get('A'))

In [ ]:
price = {'A': 30, 'B': 50, 'C': 90}
print(price.get('E'))

In [ ]:
price = {'A': 30, 'B': 50, 'C': 90}
print(price.get('E', 0))

### Accessing keys not present in dictionary

In [ ]:
price['n']

In [50]:
print(price.get('n'))

None

####  Counting unique number of words

In [54]:
#words = ["aditya", "is", "a", "great", "great", "great", "guy"]

words = ['influence', 'a', 'use', 'so', 'so', 'of', 'to', 'Sith,', 'create', 'wise', 'Dark', 'midichlorians', 'the', 'life', 'Darth', 'and', 'the', 'Plagueis', 'powerful', 'the', 'Force', 'to', 'he', 'could', 'Lord', 'was']

In [55]:
unique = {}

for key in words:
    if key in unique:
        unique[key] += 1
    else:
        unique[key] = 1

In [ ]:
unique

In [57]:
lyrics = """Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky"""

In [61]:
words = []

for i in lyrics.split( ):
    if i[::-1][0] == ',': # what does [::-1] do?
        words.append(i[:-1])
    else:
        words.append(i)

In [ ]:
words

In [63]:
unique = {}

for key in words:
    if key in unique:
        unique[key] += 1
    else:
        unique[key] = 1

In [ ]:
unique

### Exercise

Print a dict with keys from 0 to 9 and their values as their squares.

In [ ]:
d = {}
# Write code here #
print(d)

### Use dict comprehension to achieve the above.

In [ ]:
d = {}
# Write code here :)
print(d)